# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: MIT-0

region        = "<REGION>"
environment   = "dev"
vpc_endpoints = ["ecr", "cloudwatch", "ssm", "secretsmanager"]
